.panel {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.center-text {
    text-align: center;
}

.right {
    float: right;
}

.margin-30 {
    margin: 30px;
}

.success {
    background-color: darkgreen;
}

.success:hover {
    background-color: green;
}

.danger {
    background-color: red;
}

.danger:hover {
    background-color: orangered;
}

.cancel {
    margin: 10px;
    padding: 8px 60px;
    background-color: red;
    border-radius: 20px;
    border-width: 0;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.cancel:hover {
    background-color: orangered;
}

.cancel:active {
    background-color: darkred;
}

.cancel:focus {
    border: none;
    outline: none;
}

.notification-error {
    border-radius: 25px;
    background-color: palevioletred;
    border: 2px solid red;
    font-size: 18px;
    color: white;
    padding: 6px;
    margin: 5px;
}

.notification-info {
    border-radius: 25px;
    background-color: lightgreen;
    border: 2px solid limegreen;
    font-size: 18px;
    color: white;
    padding: 6px;
    margin: 5px;
}

#error_message:empty {
    display: none;
}