# Source: https://github.com/edoburu/django-project-template/blob/master/.dockerignore

*.pyc
*.pyo
*.mo
*.db
*.css.map
*.egg-info
*.sql.gz
.cache
.project
.idea
.pydevproject
.idea/workspace.xml
.DS_Store
.git/
.sass-cache
.vagrant/
__pycache__
dist
docs
env
logs
src/{{ project_name }}/settings/local.py
src/node_modules
web/media
web/static/CACHE
stats
Dockerfile

# Our custom ignore rules
diagrams/
*.docx
docker-compose.yml
.dockerignore
*.md
db.sqlite3

# All migration files expect __init__.py
**/workflows/migration/*.py
!**/workflows/migration/__init__.py