{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'css/style_component.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="../../static/js/tasks_validation.js"></script>
    <title>{{ title }}</title>
</head>
<body>
<div>
    <div>
        {% include  "component/nav_bar.html" %}
    </div>
    <div class="panel center" style="margin: 10px; width: 50%">
        <form name="task_form" method="post" onsubmit="return validateTaskForm()">
            {% csrf_token %}
            <h3 style="font-weight: bold; margin:0 10px; overflow: hidden; white-space: nowrap;">Create
                task</h3>
            <hr/>
            <div style="margin-bottom: 20px;">
                <input id="name_task_form" name="name_task" type="text" placeholder="Name" maxlength="59" required/>
            </div>
            <div>
                        <textarea id="description_task_form" name="description_task" placeholder="Description"
                                  style="width: 100%; height: 150px; font-size: 20px;" maxlength="999" required></textarea>
            </div>
            <div>
                <div class="custom-control custom-switch custom-switch-xl">
                    <input name="skip_task" type="checkbox" class="custom-control-input" id="skipNewTask">
                    <label class="custom-control-label" for="skipNewTask"
                           style="padding-top: 5px;">Skip</label>
                </div>
                <div class="custom-control custom-switch custom-switch-xl">
                    <input name="previous_task" type="checkbox" class="custom-control-input" id="previousNewTask"
                           style="height: 2.5rem; width: calc(4rem + 0.75rem);">
                    <label class="custom-control-label" for="previousNewTask"
                           style="padding-top: 5px;">Previous</label>
                </div>
            </div>
            <div>
                <div style="border: 1px solid #F2F2F2;">
                    <div style="height: 200px; overflow-y: scroll; margin: 0;">
                        {% for subtask in subtasks %}
                            <div class="card" style="margin: 0;">
                                <div class="card-header" id="newsubtask{{ subtask.id }}"
                                     style="margin: 0;">
                                    <h5 style="gmargin: 0;">
                                        <div class="row">
                                            <div class="col-1">
                                                <input name="{{ subtask.id }}" type="checkbox">
                                            </div>
                                            <div class="col">
                                                <button class="btn btn-link" type="button"
                                                        data-toggle="collapse"
                                                        data-target="#newcollapseSubtask{{ subtask.id }}"
                                                        aria-expanded="true"
                                                        aria-controls="newcollapseSubtask{{ subtask.id }}"
                                                        style="margin: 0;" data-toggle="tooltip"
                                                        data-placement="top"
                                                        title="{{ subtask.name }}">
                                                    {{ subtask.name }}
                                                </button>
                                            </div>
                                        </div>
                                    </h5>
                                </div>

                                <div id="newcollapseSubtask{{ subtask.id }}" class="collapse"
                                     aria-labelledby="newsubtask{{ subtask.id }}"
                                     data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>
                                            {{ subtask.notes }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div>
                    <button style="float: right">Create</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>