{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'css/style_component.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Workflows</title>
</head>
<body>
<div style="width: 100%;">
    <div>
        {% include  "component/nav_bar.html" %}
    </div>
    <div style="margin-left:130px;">
        <div class="row" style="width: 100%;">
            {% for workflow in workflows %}
                <div class="panel col" style="margin:20px;height: 500px; min-width: 400px;">
                    <div>
                        <div class="row " style="width: calc(100% - 60px)">
                            <div style="width: calc(100% - 60px);">
                                <h3 style="font-weight: bold; margin:0 10px; overflow: hidden; white-space: nowrap;"
                                    data-toggle="tooltip" data-placement="top" title="{{ workflow.name }}">
                                    {{ workflow.name }}
                                </h3>
                            </div>
                            <div style="text-align: right;">
                                <a href="/workflows/update_workflow/{{ workflow.id }}">
                                    <i class="glyphicon glyphicon-pencil" style="font-size: 24px;"></i>
                                </a>
                                <a href="/workflows/{{ workflow.id }}">
                                    <i class="glyphicon glyphicon-log-in" style="font-size: 24px;"></i>
                                </a>
                            </div>
                        </div>
                        <hr/>
                        <p style="height: 80px; overflow-y: scroll;">
                            {{ workflow.notes }}
                        </p>
                    </div>

                    <div style="border: 1px solid #F2F2F2;">
                        <div style="height: 280px; overflow-y: scroll; margin: 0;">
                            <div class="accordion" style="margin: 0;">
                                {% for task in workflow.tasks.all %}
                                    <div class="card" style="margin: 0;">
                                        <div class="card-header" id="{{ task.id }}-{{ workflow.id }}"
                                             style="margin: 0;">
                                            <h5 style="margin: 0;">
                                                <button class="btn btn-link " type="button" data-toggle="collapse"
                                                        data-target="#collapse{{ task.id }}-{{ workflow.id }}" aria-expanded="true"
                                                        aria-controls="collapse{{ task.id }}-{{ workflow.id }}"
                                                        style="margin: 0; overflow: hidden; white-space: nowrap;"
                                                        data-toggle="tooltip" data-placement="top"
                                                        title="{{ task.name }}">
                                                    {{ task.name }}
                                                </button>
                                            </h5>
                                        </div>

                                        <div id="collapse{{ task.id }}-{{ workflow.id }}" class="collapse" aria-labelledby="{{ task.id }}-{{ workflow.id }}"
                                             data-parent="#accordionExample">
                                            <div class="card-body">
                                                <div>
                                                    <p>
                                                        {{ task.notes }}
                                                    </p>
                                                </div>
                                                <div>
                                                    {% for subtask in task.subtasks.all %}
                                                        <div class="card" style="margin: 0;">
                                                            <div class="card-header" id="subtask{{ subtask.id }}-{{ workflow.id }}"
                                                                 style="margin: 0;">
                                                                <h5 style="margin: 0;">
                                                                    <button class="btn btn-link" type="button"
                                                                            data-toggle="collapse"
                                                                            data-target="#collapseSubtask{{ subtask.id }}-{{ workflow.id }}"
                                                                            aria-expanded="true"
                                                                            aria-controls="collapseSubtask{{ subtask.id }}-{{ workflow.id }}"
                                                                            style="margin: 0;" data-toggle="tooltip"
                                                                            data-placement="top"
                                                                            title="{{ subtask.name }}">
                                                                        {{ subtask.name }}
                                                                    </button>
                                                                </h5>
                                                            </div>

                                                            <div id="collapseSubtask{{ subtask.id }}-{{ workflow.id }}" class="collapse"
                                                                 aria-labelledby="subtask{{ subtask.id }}-{{ workflow.id }}"
                                                                 data-parent="#accordionExample">
                                                                <div class="card-body">
                                                                    <p>
                                                                        {{ subtask.notes }}
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
</body>
</html>